.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

__pycache__/
*.py[cod]
*$py.class

jpvenv/
venv/
env/
.venv/

pip-log.txt
pip-delete-this-directory.txt

*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

db.sqlite3

staticfiles/
media/

.env
.env.local
.env.production
*.pem

logs/
*.log
*.tmp
*.temp

.cache/
.cache/*

node_modules/
build/
dist/

*.zip
*.rar
*.tar
*.tar.gz